<!-- <h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
<div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>
</div> -->
<!-- <div *ngIf="isShown">
  <app-child></app-child>
</div> -->
<input type="text" (blur)="onBlur($event)">
<app-hoge-hoge (tabChange)="onChange($event)">
  <ngb-tab title="あ">
    <!-- <ng-template ngbTabContent>あああ</ng-template> -->
  </ngb-tab>
  <ngb-tab title="か">
  </ngb-tab>
  <ngb-tab title="さ">
  </ngb-tab>
</app-hoge-hoge>